# Module 3: Data Structures Assignments
## Lesson 3.1: Lists

### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

In [ ]:
num = list(range(1,21))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

In [ ]:
print(num[0])
print(num[10])
print(num[-1])

1
11
20

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [ ]:
print(num[:5])
print(num[15:])
print(num[5:15])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]


### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [ ]:
square = [ i*i for i in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [ ]:
is_even = [ i  for i in num  if i % 2 == 0 ]
print(is_even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [ ]:
l = [1,5,7,7,8,2,4,5,1,3,4,5,6,5,6]
l.sort()
print(l)
l.sort(reverse = True)
print(l)
c = list(set(l))
print(c)

[1, 1, 2, 3, 4, 4, 5, 5, 5, 5, 6, 6, 7, 7, 8]
[8, 7, 7, 6, 6, 5, 5, 5, 5, 4, 4, 3, 2, 1, 1]
[1, 2, 3, 4, 5, 6, 7, 8]



### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
l = [[1,2,3],[4,5,6],[6,7,8]]
print(l)
print(l[1][2])

[[1, 2, 3], [4, 5, 6], [6, 7, 8]]
6


### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [ ]:
score = [{"name":"sai","score":85},{"name":"Mathru","score":90},{"name":"Shuvam","score":75},{"name":"Nithu","score":70}]
result = sorted(score,key=lambda x: x["score"], reverse = True)
print(result)

[{'name': 'Mathru', 'score': 90}, {'name': 'sai', 'score': 85}, {'name': 'Shuvam', 'score': 75}, {'name': 'Nithu', 'score': 70}]



### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [ ]:
def matrix(a):
  transpose = []
  for i in range(3):
    row = []
    for j in range(3):
      row.append(a[j][i])

    transpose.append(row)
  return transpose


l = [[1,2,3],[4,5,6],[6,7,8]]
result = matrix(l)


print("original matrix")
for i in l:
  print(i)

print("transpose matrix")

for j in result:
  print(j)

original matrix
[1, 2, 3]
[4, 5, 6]
[6, 7, 8]
transpose matrix
[1, 4, 6]
[2, 5, 7]
[3, 6, 8]

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [ ]:
def flatten(a):
    flatten = []
    for i in a:
      for j in i:
        flatten.append(j)
    return flatten

l = [[1,2,3],[4,5,6],[6,7,8]]
result = flatten(l)
print("original matrix")
print(l)
print("\nflatten matrix")
result = flatten(l)
print(result)

original matrix
[[1, 2, 3], [4, 5, 6], [6, 7, 8]]

flatten matrix
[1, 2, 3, 4, 5, 6, 6, 7, 8]

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [ ]:
a = list(range(1,11))
for i in [2,4,6]:
  a.pop(i)
a.insert(5,99)
print(a)

[1, 2, 4, 5, 7, 99, 8, 10]

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [ ]:
c = [1,2,3,4]
d = [5,6,7,8]

result = tuple(zip(c,d))
print(result)

((1, 5), (2, 6), (3, 7), (4, 8))

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [ ]:
def reverse_list(l):
  m = l.copy()
  m.reverse()
  return m

m = [1,2,3,4,5]
result = reverse_list(m)
print("original list")
print(m)
print("\nreversed list")
print(result)

original list
[1, 2, 3, 4, 5]

reversed list
[5, 4, 3, 2, 1]


### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

In [ ]:
def rotate(lst,n):
  return lst[n:] + lst[:n]

original = [1,2,3,4,5]
print("oginal list")
print(original)
result = rotate(original,2)
print("\nrotated list")
print(result)

oginal list
[1, 2, 3, 4, 5]

rotated list
[3, 4, 5, 1, 2]




















### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [ ]:
def concate(lst1,lst2):
  c = set(lst1)
  d = set(lst2)
  result = c.intersection(d)
  return list(result)

l = [1,2,3,1,2]
m = [1,2,4,5,6]
result = concate(l,m)
print(result)

[1, 2]